<%- include("partials/header") -%>
<div class="card card-secondary ">
    <div class="card-body text-center">
      <h4 class="card-title"> <%= post.tittle %> </h4>
      <p class="card-text"><%= post.body %></p>
      
    </div>
  </div>
    

<%- include("partials/footer") -%>